.Footer {
  position: absolute;
  margin: 0 auto;
  top: 100%;
  left: 0; right: 0;
  height: 10em;
  max-width: 100%;  
  background:rgb(231, 227, 221);
  color: gray;
}

.Footer ul {
  padding: 0.8em;
}

.Footer ul a {
  text-decoration: none;
  color: gray;
  margin-left: 1em;
}

.Footer ul a:hover {
  color: rgb(44, 44, 44);
}

  
.Footer p {
  text-align: center;
  font-weight: bold;;
}
