.Footer {
  position: absolute;
  margin: 0 auto;
  top: 100%;
  left: 0; right: 0;
  height: 10em;
  width: 80em;  
  background: #d1d1d1;
  color: gray;
}

.Footer ul {
  padding: 0.8em;
}

.Footer ul a {
  text-decoration: none;
  color: gray;
  margin-left: 1em;
}

.Footer ul a:hover {
  color: rgb(44, 44, 44);
}

  
.Footer p {
  text-align: center;
  font-weight: bold;;
}
