.Recipe {
    /* border: 1px solid black; */
    box-shadow: 0 0 0.1em 0.1em rgba(228, 228, 228, 0.75);box-shadow: 0 0 0.1em 0.1em rgba(228, 228, 228, 0.75);
}


.Recipe-media {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.Recipe-media:before {
    display: block;
    content: '';
    padding-top: 40%;
}

.Recipe-media img {
    position: absolute;
    width: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.Recipe-content {
    padding: 0.4em;
}

.Recipe-content section {

}

.Recipe-content section a {
    text-decoration: none;
    color: gray;
}

.Products {

}