.Recipe {
    border: 1px solid rgba(228, 228, 228, 0.75);
    border-radius: 0.2em;
    box-shadow: 0 0 0.6em 0.3em rgba(0, 0, 0, 0.25);
    overflow: hidden;
    background: white;
}


.Recipe-media {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.Recipe-media:before {
    display: block;
    content: '';
    padding-top: 40%;
}

.Recipe-media img {
    position: absolute;
    width: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.Recipe-content-container {

}

.Products {
    padding: 0.4em;
}

.Recipe-content-container .Recipe-title-content {
    width: 100%;
    padding: 0.6em;
}

/* .Recipe-content-container .Recipe-title-content h4,
.Recipe-content-container .Recipe-title-content h5 {
    
} */

.Recipe-content-container .Recipe-title-content p {

}

.Recipe-content-container section a {
    text-decoration: none;
}

.Recipe-Description {

}

.RecipeButtonsWrapper {
    display: flex;
    padding: 0.6em;

}

/* .RecipeButtonsWrapper a {
    margin-left: 0.4em;
} */

.RecipeButtonsWrapper .LikeButton {
    width: 12em;
    margin-right: auto
}

.RecipeButtonsWrapper .DetailButton {
    margin-right: auto;
    margin-top: 0.2em;
}

.RecipeButtonsWrapper .DeleteButton {
    margin-left: 0.4em;
}

.Favorites {
    display: flex;
}

.Favorites span {
    font-size: 1.6em;
}

.Favorites i {
    display: block;
    margin-top: 0.2em;
    font-size: 1.6em;
    color: rgb(255, 217, 0);
}