.Recipe {
    border: 1px solid rgba(228, 228, 228, 0.75);
    border-radius: 0.2em;
    box-shadow: 0 0 0.2em 0.1em rgba(228, 228, 228, 0.75);
    overflow: hidden;
}


.Recipe-media {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.Recipe-media:before {
    display: block;
    content: '';
    padding-top: 40%;
}

.Recipe-media img {
    position: absolute;
    width: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.Recipe-content-container {

}

.Products {
    padding: 0.4em;
}

.Recipe-content-container section {

}

.Recipe-content-container section a {
    text-decoration: none;
}

.Recipe-Description {

}

.RecipeButtonsWrapper {
    display: flex;
    padding: 0.6em;
}

/* .RecipeButtonsWrapper a {
    margin-left: 0.4em;
} */

.RecipeButtonsWrapper a:first-child {
    margin-left: auto;
    margin-right: 0.6em;
}