.EditRecipeWrapper {
    background: rgb(231, 227, 221);
    margin: 0 auto 1em auto;
    padding: 1em 2em 2em 2em;
}

.EditRecipe {
    
}

.EditRecipe p {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.EditRecipe p label,
.EditRecipe p input,
.EditRecipe p textarea {
    width: 100%;
    padding: 0.4em;
}

.EditRecipe p label {
    padding: 0.4em 0;
}
.EditRecipe p input,
.EditRecipe p textarea {
    border-radius: 0.1em;
    border: none;
}
.EditRecipe p span {
    color: red;
}

.EditRecipe p .EditButton {
    margin: 1em auto 0 auto;
    width: 100%;
    padding: 0.5em;
}

/* upload input styling */

.EditRecipe .file-wrapper {
    display: flex;
    flex-wrap: nowrap;
    margin: 0.4em 0;
    padding: 0;
}

.EditRecipe .file-wrapper input[type=file] {
    background: transparent;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    padding: 0;
}
  
.EditRecipe .file-wrapper input[type=file]:before {
  width: 100%;
  height: 100%;
  font-size: 16px;
  content: 'Upload a file';
  display: inline-block;
  background: rgb(68, 116, 206);
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  padding: 0.4em;
  color: white;
  text-align: center;
}


.EditRecipe .file-wrapper label {
    display: inline;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0.2em 0.2em 0.2em 0.6em;
    background: white;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}