.Home {
    position: relative;
    padding: 0;
}

.Recipes-category-conteiner-relative {
    position: relative;
}

.Recipes-category-conteiner-relative::before {
    display: block;
    content: '';
    padding: 40%;
}

.Recipes-category-conteiner {
    z-index: 100;
    position: absolute;
    width: 80%;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
}

.Recipes-category-conteiner:before {
    display: block;
    content: '';
    padding: 20%;
}

.Recipes-category-wrapper {
    z-index: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4em;;
}

.Recipes-text-wrapper {
    padding: 2em 10em;
}

@media (min-width: 768px) {
    .Home {
        padding: 0 8em;
    }
    .Recipes-category-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .Recipes-category-conteiner  {
        top: 0; left: 50%;
    }

    .Recipes-category-conteiner-relative::before {
        padding: 20%;
    }
};

