.RecipesWrapper {
    width: 100%;
    
}

.RecipesWrapper header {
    width: 100%;
    text-align: center;
    padding: 2em;
}

.RecipesWrapper header h2 {
   
}

.RecipesContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}