.RecipesWrapper {
    width: 100%;
    padding: 0em;
}

.RecipesWrapper header {
    width: 100%;
    text-align: center;
    padding: 2em;
}

.Recipes-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) { 
    .Recipes-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .RecipesWrapper {
        padding: 0 8em;
    }
};


