.RecipeNavigation {
    width: 100%;
    /* background: rgb(231, 227, 221); */
}

.RecipeNavigation section {
    display: flex;
    width: 100%;
    margin-bottom: 0.4em;
    
}

.RecipeNavigation section button {
    background: rgb(110, 148, 163);
    color: white;
    padding: 0.6em 1em;
    margin-left: 0.4em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 0.2em;
}

.RecipeNavigation section button:first-child {
    margin-left: auto;
}