.RecipeNavigation {
    width: 100%;
    background: rgb(224, 224, 224);
}

.RecipeNavigation ul {
    display: flex;
}

.RecipeNavigation ul a {
    margin: 0.4em 0.5em 0.4em;
    display: block;
    text-decoration: none;
    color: rgb(99, 99, 99);
    font-size: 1.1em;
}

.RecipeNavigation ul a:first-child {
    margin-left: auto;
}