.My-recipes-wrapper {
    width: 100%;
    padding: 0;
}

@media (min-width: 768px) { 
    .My-recipes-wrapper {
        padding: 0 8em;
    }
};

.My-recipes-wrapper header {
    width: 100%;
    text-align: center;
    padding: 2em;
}

.My-recipes-wrapper header h2 {
   
}

.My-recipes-nav {
    display: flex;
    width: 100%;
}

.My-recipes-nav button {
    margin-left: 0.4em;
}

.My-recipes-nav button:first-child {
    margin-left: auto;
}
