.MyRecipesWrapper {
    width: 100%;
    padding: 0 8em;
}

.MyRecipesWrapper header {
    width: 100%;
    text-align: center;
    padding: 2em;
}

.MyRecipesWrapper header h2 {
   
}

.MyRecipesContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}