.RecipePostComment {
    width: 100%;
    /* margin-top: 1em; */
    padding: 1em;
    border-top: 2px solid rgb(243, 243, 243);
    background: rgb(245, 245, 245);
    border-radius: 0.2em;
}

.RecipePostComment header {
    padding: 1em;
}

.RecipePostCommentForm p {
    display: flex;
    flex-wrap: wrap;
}

.RecipePostCommentForm p input,
.RecipePostCommentForm textarea {
    border: 1px solid rgb(223, 223, 223)
}

.RecipePostCommentForm p input,
.RecipePostCommentForm p label {
    width: 100%;
    border-radius: 0.1em;
    padding: 0.2em;
}

.RecipePostCommentForm textarea {
    width: 100%;
    padding: 0.2em;
}

.RecipePostCommentForm p .PostButton {
    margin-left: auto;
    margin-top: 1em;
}