.Recipes-category-list-wrapper header {
    width: 100%;
    text-align: center;
    padding: 2em;
}

.Recipes-category-list-wrapper header h2 {
   
}

.All-recipes-wrapper {
    background: rgb(231, 227, 221);
    padding: 0 1em 1em 1em;
    margin-top: 2em;
}

.Recipes-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
}

@media (min-width: 768px) { 
    .Recipes-container {
        grid-template-columns: repeat(4, 1fr);
    }
};
