.RecipesWrapper {
    width: 100%;
}

.RecipesWrapper header {
    width: 100%;
    text-align: center;
}

.RecipesWrapper header h1 {
   
}

.RecipesContainer {
    width: 60em;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}