.Navigation {
  width: 100%;
  /* background-color: rgb(228, 196, 108); */
  /* background-color: #6379a8; */
  background: white;
  box-shadow: 0 0.1em 0.1em 0.1em rgba(228, 228, 228, 0.75);
  position: fixed;
  top: 0;
  z-index: 10;
}

.Navigation ul {
  padding: 0.6em;
}

.Navigation ul a {
  text-decoration: none;
  /* color: white; */
  color: gray;
  margin-left: 1em;
}

.Navigation ul a:hover {
  color: rgb(44, 44, 44);
}

#logo {
  width: 56px;
}