.Navigation {
  width: 100%;
  background: rgb(240, 240, 240);
  box-shadow: 0 0 0.6em 0.2em rgba(129, 129, 129, 0.61);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.Navigation ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0.6em;
}

.Navigation ul a {
  text-decoration: none;
  /* color: white; */
  color: gray;
  margin-left: 1em;
  font-size: 1.2em;
}

.Navigation ul a:hover {
  color: rgb(44, 44, 44);
}

#logo {
  width: 56px;
}