.PostRecipeWrapper {
    width: 100%;
}

.PostRecipeWrapper .PostRecipe header {
    padding: 0;
}

.PostRecipe {
    background: rgb(245, 245, 245);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
    margin: 2em auto;
    padding: 1em 2em 2em 2em;
}

.PostRecipe p {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.PostRecipe p input {
    width: 100%;
}

.PostRecipe p textarea {
    width: 100%;
}

.PostRecipe p label {
    width: 100%;
}

.PostRecipe p span {
    color: rgb(226, 13, 13);
    margin-right: 0.4em;
}


.PostRecipe .PostButton {
    margin-left: auto;
    margin-bottom: 0.2em;
    margin-top: 1em;
}