.PostRecipeWrapper {
    width: 100%;
}

.PostRecipeWrapper header {

}

.PostRecipe {
    display: flex;
    align-items: center;
    padding: 1em 0;
}

.PostRecipe p {

}

.PostRecipe p input {
    margin-right: 1em;
    padding: 0.2em;
}

.PostRecipe p label {
    margin-right: 0.4em;
}

.PostRecipe p:first-child {
    margin-left: auto;
}


.PostRecipe .PostButton {
    margin-right: auto;
    margin-bottom: 0.2em;
}