.Search {
    background: rgb(68, 68, 68);
    position: fixed;
    width: 100vw;
    height: 6em;
    z-index: 1000;
}

.Search form {
    display: flex;
    width: 30%;
    margin: 0 auto;
    padding: 2em;
}

.Search form p {
    
}

.Search form p input {
    margin-left: 2em;
    padding: 0.4em;
}

