.CommentsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1em;
    border-top: 2px solid rgb(238, 238, 238);
}

.Comments {

}

.Comments header {
    padding: 1em;
}
