.RecipeDetails {
    padding-top: 1em;
    padding: 0 8em;
    margin: 3em auto;
    width: 100%;
}

.RecipeDetails header {
    width: 100%;
    text-align: center;
}

.MainContentRecipeDetails {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    padding: 2em 2em;
    background: rgb(245, 242, 238);
}


.MainContentRecipeDetails .Recipe {
    width: 55%;
    border: 1px solid rgb(196, 196, 196);
    box-shadow: 0.4em 0.6em 1.4em 0.6em rgba(0, 0, 0, 0.25);
}

.MainContentRecipeDetails .ContentComments {
    padding-left: 4em;
    width: 45%;
}



